body {
  background-color: #c6e9f971 !important;
}

.custom-sunny-card {
  border: 2px solid #007bff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-image: linear-gradient(120deg, #66a6ffcc 0%, #91eff6e4 80%) !important;
}

.custom-sunny-card-title {
  color: #2c3e50;
  font-weight: medium !important;
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.custom-sunny-card-h2 {
  color: #2c3e50;
  font-weight: bold !important;
  font-size: 3.2rem !important;
  margin-bottom: 10px;
}

.custom-sunny-card-text {
  color: #2c3e50;
  font-weight: medium !important;
  font-size: 1rem !important;
  margin-bottom: 10px;
}

.custom-cloudy-card {
  border: 2px solid #007bff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%) !important;
  background-blend-mode: screen !important;
}

.custom-cloudy-card-title {
  color: #2c3e50;
  font-weight: medium !important;
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.custom-cloudy-card-h2 {
  color: #2c3e50;
  font-weight: bold !important;
  font-size: 3.2rem !important;
  margin-bottom: 10px;
}

.custom-cloudy-card-text {
  color: #2c3e50;
  font-weight: medium !important;
  font-size: 1rem !important;
  margin-bottom: 10px;
}

.custom-stormy-card {
  border: 2px solid #007bff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%) !important;
}

.custom-stormy-card-title {
  color: whitesmoke !important;
  font-weight: medium !important;
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.custom-stormy-card-h2 {
  color: whitesmoke !important;
  font-weight: bold !important;
  font-size: 3.2rem !important;
  margin-bottom: 10px;
}

.custom-stormy-card-text {
  color: whitesmoke !important;
  font-weight: medium !important;
  font-size: 1rem !important;
  margin-bottom: 10px;
}

.custom-snowy-card {
  border: 2px solid #007bff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%) !important;
}

.custom-snowy-card-title {
  color: #2c3e50;
  font-weight: medium !important;
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.custom-snowy-card-h2 {
  color: #2c3e50;
  font-weight: bold !important;
  font-size: 3.2rem !important;
  margin-bottom: 10px;
}

.custom-snowy-card-text {
  color: #2c3e50;
  font-weight: medium !important;
  font-size: 1rem !important;
  margin-bottom: 10px;
}

.custom-sunny-card-container {
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%) !important;
  background-blend-mode: screen !important;
}

.custom-cloudy-card-container {
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%) !important;
  background-blend-mode: screen !important;
}

.custom-stormy-card-container {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%) !important;
}

.custom-snowy-card-container {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%) !important;
}
